h1 {
    text-align:center;
}

#rate {
    border:double;
    padding:40px;
    width:auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}