<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rate</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/display_rate.css">
</head>
<body>
<h1>USPS Postal Rate</h1>
<div id="rate">
    <h2>The rate for your postage is</h2>
    <table style="width: 50%">
        <tr>
            <th>Mail Type</th>
            <th>Weight</th>
            <th>Rate</th>
        </tr>
        <tr>
            <td><%= mailType %></td>
            <td><%= weight %>oz</td>
            <td>$<%= rate %></td>
        </tr>
    </table>
</div>
</body>
</html>